body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("background.jpg");
	background-size: 1400px;
	color : white;
}

.contactForm {
	color: white;
	margin-left: 275px;
	margin-top : 125px;
	font-size : 30px;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	background-color: #000037;
	padding: 20px;
	width: 600px;
	opacity: 0.8;
	margin-left : 50px;
}